<section id="section-certificates">
  <header id="certificates-header">
    <h2>Certificates</h2>
  </header>
  <main id="certificates-content">
    <ul id="certificates-list">
      {% for certificate in resume.certificates %}
        <li class="certificate">
          {% if certificate.name %}
            <h3 class="certificate-name">{{ certificate.name }}<span class="certificate-issuer">{{ certificate.issuer ? ' - ' : '' }}{{ certificate.issuer }}</span></h3>
          {% endif %}
          {% if certificate.date %}
            <p class="certificate-date">{{ certificate.date }}</p>
          {% endif %}
          {% if certificate.url %}
            <a class="certificate-url" href="{{ certificate.url }}">{{ certificate.url }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </main>
</section>
