<section id="section-volunteer">
  <header id="volunteer-header">
    <h2>Volunteer</h2>
  </header>
  <main id="volunteer-content">
    <ul id="volunteer-list">
      {% for volunteer in resume.volunteer %}
        <li class="volunteer">
          {% if volunteer.organization %}
            <h3 class="volunteer-organization">{{ volunteer.organization }}<span class="volunteer-position">{{ volunteer.position ? ' - ' : '' }}{{ volunteer.position }}</span></h3>
          {% endif %}
          {% if volunteer.startDate %}
            <p class="volunteer-start">
              {{ volunteer.startDate }} - <span class="volunteer-end">{{ volunteer.endDate|default('Present') }}</span>
            </p>
          {% endif %}
          {% if volunteer.summary %}
            <p class="volunteer-summary">{{ volunteer.summary }}</p>
          {% endif %}
          {% if volunteer.highlights %}
            <ul class="volunteer-highlights-list">
              {% for highlight in volunteer.highlights %}
                <li class="volunteer-highlight">
                  <p>
                    {{ highlight }}
                  </p>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </main>
</section>
