<section id="section-awards">
  <header id="awards-header">
    <h2>Awards</h2>
  </header>
  <main id="awards-content">
    <ul id="awards-list">
      {% for award in resume.awards %}
        <li class="award">
          {% if award.title %}
            <h3 class="award-title">{{ award.title }}<span class="award-awarder">{{ award.awarder ? ' - ' : '' }}{{ award.awarder }}</span></h3>
          {% endif %}
          {% if award.date %}
            <p class="award-date">{{ award.date }}</p>
          {% endif %}
          {% if award.summary %}
            <p class="award-summary">{{ award.summary }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </main>
</section>
